

.App {
  background-color: rgb(168, 201, 180);
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
}

.survey-container {
  justify-content: center;
  margin-top: 180px;
  margin-left: 20px;
  margin-right: 20px;
}
